
@import 'colors.scss';

// Global styles
* {
    color: $color-green; // using a variable
    font-size: 1.2rem;
}

.container {
    background-color: $color-light-green; // using a variable
    border: 1px solid #000;
    display: flex;
    height: 500px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1em;
    width: 50%;

    // Nesting
    .left, .right {
        height: 100%;
        position: relative;
        background-color: $color-white; // using a variable

        // Mixin example (for button)
        @mixin button-style {
            background-color: $color-yellow;
            color: $color-green;
            border: 0;
            border-radius: 10px;
            cursor: pointer;
            width: 7em;
            height: 2.5em;
            font-size: 1rem;
            font-weight: bold;
            padding: 0.5em 2em;
        }

        .button {
            @include button-style; // applying mixin

            // Center content vertically
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -120%);
        }
    }

    .left {
        width: 69%;
    }

    .right {
        width: 29%;
    }
}
